.nav-link{
    font-size: 40px;
    font-family: 'Caveat', cursive;
    margin-right: 40px;
    margin-right: 40px;
}

#storeName{
    font-size: 110px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin-left: 60px;
    color: seashell;
}

.navbar{
    background-color: rgb(117, 234, 238);
}

#banner{
    background-image: url(https://cdn.pixabay.com/photo/2016/09/10/17/18/book-1659717__340.jpg);
}

#Home{
color: seashell;
font-weight: bolder;
font-size: 50px;
}

#Mybooks{
color: seashell;
font-weight: bolder;
font-size: 50px;
}

#navbarDropdown{
    color: seashell;
    font-weight: bolder;
    font-size: 50px;
}

#search{
    background-color: springgreen;
}

#interest-category-list {
    padding: 10px;
    padding-left: 10px;
